.background {
  display: flex;
  height: 100vh;
}

.backgroundForm {
  display: none;
}

.formRes {
  display: block;
  background-color: white;
  width: 60%;
  padding: 0px 200px;
  padding-top: 105px;
}

@media (max-width: 760px) {
  .background {
    background-image: url(../Assets/background.jpg);
    height: 100vh;
    padding-top: 200px;
  }
  .background {
    display: block;
    height: 100vh;
  }
  .backgroundForm {
    display: block;
  }
  .formRes {
    display: none;
  }
}
